[submodule "chef/cookbooks/apache2"]
	path = chef/cookbooks/apache2
	url = git@github.com:opscode-cookbooks/apache2.git
[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
	url = git@github.com:opscode-cookbooks/apt.git
[submodule "chef/cookbooks/aws"]
	path = chef/cookbooks/aws
	url = git@github.com:opscode-cookbooks/aws.git
[submodule "chef/cookbooks/database"]
	path = chef/cookbooks/database
	url = git@github.com:opscode-cookbooks/database.git
[submodule "chef/cookbooks/dmg"]
	path = chef/cookbooks/dmg
	url = git@github.com:opscode-cookbooks/dmg.git
[submodule "chef/cookbooks/git"]
	path = chef/cookbooks/git
	url = git@github.com:opscode-cookbooks/git.git
[submodule "chef/cookbooks/java"]
	path = chef/cookbooks/java
	url = git@github.com:opscode-cookbooks/java.git
[submodule "chef/cookbooks/mysql"]
	path = chef/cookbooks/mysql
	url = git@github.com:opscode-cookbooks/mysql.git
[submodule "chef/cookbooks/openssl"]
	path = chef/cookbooks/openssl
	url = git@github.com:opscode-cookbooks/openssl.git
[submodule "chef/cookbooks/php"]
	path = chef/cookbooks/php
	url = git@github.com:opscode-cookbooks/php.git
[submodule "chef/cookbooks/users"]
	path = chef/cookbooks/users
	url = git@github.com:opscode-cookbooks/users.git
[submodule "chef/cookbooks/yum"]
	path = chef/cookbooks/yum
	url = git@github.com:opscode-cookbooks/yum.git
[submodule "chef/cookbooks/build-essential"]
	path = chef/cookbooks/build-essential
	url = git@github.com:opscode-cookbooks/build-essential.git
[submodule "chef/cookbooks/chef-php-extra"]
	path = chef/cookbooks/chef-php-extra
	url = git@github.com:inviqa/chef-php-extra.git
[submodule "chef/cookbooks/composer"]
	path = chef/cookbooks/composer
	url = git@github.com:zircote/chef-composer.git
[submodule "chef/cookbooks/phpunit"]
	path = chef/cookbooks/phpunit
	url = git@github.com:escapestudios/chef-phpunit.git
[submodule "chef/cookbooks/elasticsearch"]
	path = chef/cookbooks/elasticsearch
	url = git@github.com:elasticsearch/cookbook-elasticsearch.git
[submodule "chef/cookbooks/ark"]
	path = chef/cookbooks/ark
	url = git@github.com:opscode-cookbooks/ark.git
[submodule "chef/cookbooks/curl"]
	path = chef/cookbooks/curl
	url = git@github.com:phlipper/chef-curl.git
[submodule "chef/cookbooks/supervisor"]
	path = chef/cookbooks/supervisor
	url = git@github.com:opscode-cookbooks/supervisor.git
[submodule "chef/cookbooks/python"]
	path = chef/cookbooks/python
	url = git@github.com:opscode-cookbooks/python.git
[submodule "chef/cookbooks/nodejs"]
	path = chef/cookbooks/nodejs
	url = git@github.com:mdxp/nodejs-cookbook.git
[submodule "chef/cookbooks/memcached"]
	path = chef/cookbooks/memcached
	url = git@github.com:opscode-cookbooks/memcached.git
[submodule "chef/cookbooks/postgresql"]
	path = chef/cookbooks/postgresql
	url = git@github.com:damm/postgresql.git
[submodule "chef/cookbooks/chef_handler"]
	path = chef/cookbooks/chef_handler
	url = git@github.com:opscode-cookbooks/chef_handler.git
[submodule "chef/cookbooks/runit"]
	path = chef/cookbooks/runit
	url = git@github.com:hw-cookbooks/runit.git
[submodule "chef/cookbooks/windows"]
	path = chef/cookbooks/windows
	url = git@github.com:opscode-cookbooks/windows.git
[submodule "chef/cookbooks/xfs"]
	path = chef/cookbooks/xfs
	url = git@github.com:opscode-cookbooks/xfs.git
[submodule "chef/cookbooks/xml"]
	path = chef/cookbooks/xml
	url = git@github.com:opscode-cookbooks/xml.git
[submodule "chef/cookbooks/yum-epel"]
	path = chef/cookbooks/yum-epel
	url = git@github.com:opscode-cookbooks/yum-epel.git
[submodule "chef/cookbooks/sysctl"]
	path = chef/cookbooks/sysctl
	url = git@github.com:onehealth-cookbooks/sysctl.git
